body{
    margin-top: 80px;
}

.img-con{
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-con img{
    filter: brightness(70%);
}
.img-con .context{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.img-con .context div{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.img-con .context button{
    background: transparent;
    color: white;
    padding: 6px 20px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


body nav .left {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  nav .left a, nav .right a{
    text-decoration: none;
    color: white;
  }

  nav .left div, nav .right a{
    border: 1px solid transparent;
  }

  nav .left a:hover div, nav .right a i:hover, nav .right a:hover .prod,
    nav .right a:hover .history{
      background: none;
      border-bottom: 1px solid rgb(23, 100, 148);
      color: white;
    }

    nav .right .login:hover{
        background: transparent;
        color: white;
        border-color: transparent;
    }



    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .center .con {
        width: 100%;
    }

    .container-home{
        max-width: 1200px;
        width: 100%;
        margin-bottom: 100px;
    }

    .container-home .context{
        color: rgb(243, 243, 243);
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
    
    .imgs {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
    
    .imgs .img-con {
        height: 280px;
        animation: float 3s ease-in-out infinite; /* Apply the animation to each .img-con */
    }
    
    /* Floating animation */
    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-15px); /* Move up 15px */
        }
        100% {
            transform: translateY(0px); /* Back to the original position */
        }
    }

    .items{
        background: rgb(237, 237, 237);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .items .items-con
    {
        max-width: 1200px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        row-gap: 50px;
        padding: 20px;
    }

    .items .items-con .img-con{
        height: max-content;
    }

    .items .items-con .img-con img{
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
    }
    
    .items .items-con .text-con{
        color: white;
        font-size: 14px;
        padding: 12px 20px;
        background: #FC819E;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .items .items-con .text-con .title{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        color: white;
    }

    .items .items-con .con{
        width: 400px;
    }

    .slideshow-div{
        background: white;
        width: 100%;
        padding: 20px 50px;
    }


    .slideshow-div .header-con{
        text-align: center;
        font-weight: 500;
        padding: 20px;
        color: #FC819E;
        border-bottom: 1px solid #FC819E;
    }

    .slideshow-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 20px;
        background-color: white;
        width: 100%;
    }

    .slideshow-container .img-con-click{
        flex: 1;
    }

    .slideshow-container .slide{
        height: 350px;
        border: 1px solid rgb(237, 237, 237);
        overflow: hidden;
    }

    .slideshow-container .slide img{
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .slideshow-container .slide img:hover{
        transform: scale(1.1);
    }

    .slideshow-container .title{
        background-color: #ec6f8c;
        color: rgb(242, 242, 242);
        padding: 12px 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    



